<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Integración de los Ejercicios de KnockOut JS</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../content/bootstrap.css" />
    <link rel="stylesheet" href="../content/style.css" />
    <link rel="stylesheet" href="../content/toastr.css" />
    <link rel="stylesheet" href="../content/font-awesome.css">
    
    <script type="text/javascript" src="../Scripts/jquery-2.1.3.js"></script>
    <script type="text/javascript" src="../Scripts/knockout-3.2.0.js"></script>
    <script type="text/javascript" src="../Scripts/toastr.js"></script>
    <script type="text/javascript" src="../Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="../Scripts/moment.js"></script>
    <script type="text/javascript" src="../Scripts/underscore.js"></script>
    <script type="text/javascript" src="../Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript" src="../Scripts/require.js"></script>
    <script type="text/javascript" src="../Scripts/durandal/system.js"></script>

    <script type="text/javascript" src="../ViewModel/fullIntegration.js"></script>
</head>
<body>
    <h2>Primer Ejercicio</h2>
    <p><span data-bind="text: firstName() + ' ' + lastName()"></span>'s Shopping Carts - Prueba computada en el HTML</p>
    <p><span data-bind="text: fullName"></span>'s Shopping Carts - <strong> de una computada</strong></p>

    <h2>Usando Toastr en un Boton</h2>

    <div>
        <button data-bind="click: checkOut"> CheckOut </button>
        <button class="btn-info" data-bind="click: checkOut">
            <i class="icon-shopping-cart icon-large"></i><span data-bind="text:titulo"></span>
        </button>
    </div>
    <div>
        <div data-bind="with:dtoBeer">
            <span>Nombre: </span><input data-bind="value: nombre, enable: esHabilitado()" type="text" maxlength="10" />
            <span>Precion: </span><input data-bind="value: precio, enable: esHabilitado()" data-decimalplaces="2" type="text" data-allowdecimal="true" maxlength="5" />
            <button class="btn-success" data-bind="click: $root.addProduct">
                <i class="fa-android"></i><span>Add Beer</span>
            </button>
        </div>
    </div>

    <div class="row form-horizontal">
        <div class="col-sm-6">
            <div class="col-sm-6">
                <h2>Observable Arrays</h2>
            </div>
            <div class="col-sm-6">
                <button type="button" class="btn btn-success col-sm-12" data-bind="click:addProduct">
                    <i class="fa fa-plus fa-3x"></i>
                    <i class="fa fa-beer fa-3x"></i>
                    <strong>Total:</strong><span data-bind="html:totalImporte"></span>
                </button>
            </div>
            <div class="col-sm-12">
                <div class="form-horizontal">
                    <!--<div class="col-sm-6">
                        <ul data-bind="foreach: shoppingCart">
                            <li style="">
                                <i class="fa fa-camera-retro fa-lg"></i>
                                <span data-bind="text: name"></span>
                                <span data-bind="text: price"></span>
                            </li>
                        </ul>
                    </div>-->
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th><span class="badge pull-right" data-bind="text:cantidadRegistros, visible: cantidadRegistros()>0"></span></th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Tag</th>
                                <th>Time</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- ko foreach: {'data': shoppingCart } -->
                            <tr>
                                <td><i class="fa fa-beer"></i></td>
                                <td data-bind="text: name"></td>
                                <td>
                                    <span data-bind="if: price() > 10"><span data-bind="text:price" style="color:red"></span></span>
                                    <span data-bind="if: price() <= 10"><span data-bind="text:price" style="color:green"></span></span>
                                </td>
                                <td data-bind="foreach: tag">
                                    <p data-bind="text:$data"></p>
                                </td>
                                <td data-bind="text: $root.getDate"></td>
                                <td>
                                    <button type="button" class="btn btn-success" data-bind="click: $root.removeProduct">
                                        <i class="fa fa-minus fa-3x"></i>
                                        <i class="fa fa-beer fa-3x"></i>
                                        <p><strong>Remove</strong></p>
                                    </button>
                                </td>
                            </tr>
                            <!-- /ko -->
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <div data-bind="with: dto">
        <span data-bind="text:nombre"></span>
        <span data-bind="text:ape"></span>
    </div>

</body>
</html>
