<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Integración de los Ejercicios de KnockOut JS</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../content/bootstrap.css" />
    <link rel="stylesheet" href="../content/style.css" />
    <link rel="stylesheet" href="../content/toastr.css" />
    <link rel="stylesheet" href="../content/font-awesome.css">
    <script type="text/javascript" src="../Scripts/jquery-2.1.3.js"></script>
    <script type="text/javascript" src="../Scripts/knockout-3.2.0.js"></script>
    <script type="text/javascript" src="../Scripts/toastr.js"></script>
    <script type="text/javascript" src="../Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="../ViewModel/fullIntegration.js"></script>
    <script type="text/javascript" src="../Scripts/moment.js"></script>
</head>
<body>
    <h2>Primer Ejercicio</h2>
    <p><span data-bind="text: firstName() + ' ' + lastName()"></span>'s Shopping Carts - Prueba computada en el HTML</p>
    <p><span data-bind="text: fullName"></span>'s Shopping Carts - <strong> de una computada</strong></p>

    <h2>Usando Toastr en un Boton</h2>
    
    <div>
        <button data-bind="click: checkOut"> CheckOut </button>
        <button type="button" class="btn-info" data-bind="click: checkOut">
            <i class="icon-shopping-cart icon-large"></i><span data-bind="text:titulo"></span>
        </button>
    </div>

    <div class="row form-horizontal">
        <div class="col-sm-6">
            <div class="col-sm-6">
                <h2>Observable Arrays</h2>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-success" data-bind="click:addProduct">
                    <i class="fa fa-plus fa-3x"></i>
                    <i class="fa fa-beer fa-3x"></i>
                </button>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-horizontal">
                <!--<div class="col-sm-6">
                    <ul data-bind="foreach: shoppingCart">
                        <li style="">
                            <i class="fa fa-camera-retro fa-lg"></i>
                            <span data-bind="text: name"></span>
                            <span data-bind="text: price"></span>
                        </li>
                    </ul>
                </div>-->
                <div class="col-sm-6">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th><span class="badge pull-right" data-bind="text:cantidadRegistros"></span></th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Time</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- ko foreach: {'data': shoppingCart } -->
                            <tr>
                                <td align="center"><i class="fa fa-beer"></i></td>
                                <td align="center" data-bind="text: name"></td>
                                <td align="center" data-bind="text: price"></td>
                                <td align="center" data-bind="text: $root.getDate"></td>
                                <td>
                                    <button type="button" class="btn btn-success" data-bind="click: $root.removeProduct">
                                        <i class="fa fa-minus fa-3x"></i>
                                        <i class="fa fa-beer fa-3x"></i>
                                    </button>
                                </td>
                            </tr>
                            <!-- /ko -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
