<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Hello KnockOut powered by L.S.</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../content/style.css" />
    <link rel="stylesheet" href="../content/toastr.css" />
    <script type="text/javascript" src="../Scripts/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="../Scripts/knockout-3.1.0.debug.js"></script>
    <script type="text/javascript" src="../Scripts/toastr.js"></script>
    <script src="../ViewModel/vmItem2.js"></script>
</head>
<body>
    <h1>Hello, KnockOut.js</h1>
    <p>Bill's Shopping Cart (sin KnockOut o sea duro)</p>
    <!-- las variables tiene final () para ser el GET. Si ("adasd") es el SET-->
    <p><span data-bind="html:fullNamePlasAge()"></span> prueba spannnnananana</p>
    <p data-bind="html:formattedName()"></p>
    <p data-bind="with: featuredProduct">
        <a data-bind="attr:{href:link}">View Dateils</a>
    </p>
    <div class="supersaver">
        <span style="font-weight:bold" data-bind="text:fullName()"></span>
    </div>

    <div>
        <label> Ingrese un nombre:</label>
        <input type="text" name="nameValue" id="newNameValue" />
        <button data-bind="click:cambiarNombre"> Cambiar Nombre</button>
        <input type="checkbox" name="chkSelec" id="chkActivo" data-bind="checked: wantsSpam" />
        <p data-bind="with: featuredProduct"> 
            Do you need <strong data-bind="text:name"></strong>?<br/>
            Get one now for only => <strong data-bind="text:price"></strong>
        </p>
        <div>
            <button data-bind="click:checkout">Message</button>
            <button data-bind="click:addProduct">Add Product</button>
        </div>

    </div>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Product</th>
                <th>Price</th>
                <th>Tags</th>
                <th>Discount</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: shoppingCart">
            <tr>
                <td data-bind="text: $index"></td>
                <td data-bind="text: name"></td>
                <td data-bind="text: price"></td>
                <td data-bind="foreach: tags">
                    <span data-bind="text:$parent.name"></span> - <span data-bind="text:$data"></span>
                </td>
                <td data-bind="if: discount() > 0" style="color: red"> You saved <span data-bind="text:formattedDiscount, css:{supersaver: discount() > .15}"></span><strong>!!!</strong></td>
                <!--ESTE CASO HAY Q PONER $ROOT PARA Q BUSQUE EL METODO EN EL MODELO Y NO EN LA INSTANCIA DE PRODUCTO Q TIENE EL ARRAY</td>-->
                <td><button data-bind="click:$parent.removeProduct">Remove</button></td>
                <td><button data-bind="click:$parent.addPorcentaje">Add 10%</button></td>
                <td><button data-bind="click:$parent.lessPorcentaje">Less 10%</button></td>
            </tr>
        </tbody>
    </table>
    <div>
        <button data-bind="click:debugItems">Recorrer Items</button>
    </div>
    <div>
        <p>Total: <span class="supersaver" data-bind="text:getTotal()"></span></p>
        <ul data-bind="foreach: ['cats', 'dogs', 'fish']">
            <li>The value is: <span data-bind="text: $index "></span> - <span data-bind="text:$data"></span></li>
        </ul>
    </div>
    
</body>
</html>


<!--<script type="text/javascript">

    //GENERIC JAVASCRIPT OBJECTS
    //var personViewModel = {
    //    firstName: ko.observable("Leo"),
    //    lastName: ko.observable("Segars"),
    //    age: ko.observable(35),
    //    checkout: function () {
    //        alert("Hola mono");
    //    }
    //};

    //ko.applyBindings(personViewModel);

    ////me suscribo al evento donde al cambiar de valor me aparece una alerta
    //personViewModel.firstName.subscribe(function (newValue) {
    //    alert("The person's new name is: " + newValue);
    //});

    //personViewModel.firstName.subscribe(function (newValue) {
    //    alert("The person's new name is: " + newValue);
    //}, null, "beforeChange");

    // personViewModel.firstName.extend({ rateLimit: 5000 });

</script>-->